<div class="container w-50 mt-5 text-center">
  <div class="text-center display-4 font-weight-bold text-white">
    Word-Limit: {{ limit }}
  </div>
  <input
    type="range"
    min="1"
    max="50"
    value="{{ limit }}"
    class="slider form-control-range"
    (change)="handleSlideChange($event.target.value)"
  />
  <button class="btn btn-info mr-4" (click)="generate()">Generate Words</button>

  <button class="btn btn-info" (click)="generateRandomNumber()">
    Random Number
  </button>

  <div *ngIf="word" class="card card-body">
    <p class="display-4">
      {{ word }}
    </p>
  </div>
  <div *ngIf="country" class="card card-body">
    <p class="display-4">
      {{ random_number }}
    </p>

    <p class="display-4">
      {{ country }}
    </p>
  </div>
</div>
